/* Styling Variables */
:root {
    --color-primary: #1cb9b3;
    --color-on-primary: #FEFAED;
    --color-secondary: #badf9c;
    --color-on-secondary: #000;
    --color-bg: #fff;
}

/* Universal Styling */
* {
    font-family: "Montserrat", serif;
}

/* Header/Navbar Styling */
header {
    background-color: var(--color-primary);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--color-on-primary);
    font-size: xx-large;
}

/* Main Content Styling */
main {
    background-color: var(--color-bg);
}

/* Card Styling */
.container-card {
    width: 15rem;
    margin: 1.5rem;
    border: .1rem solid #000;
    border-radius: .5rem;
}

/* Card Header Styling */   
.card-title {
    background-color: var(--color-secondary);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    text-align: center;
}

/* Card Body Styling */
.card-body {
    background-color: #FEFAED;
    padding: .25rem;
}